<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<header class="header">
    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>My</span>Porter aadhi</a>
    <nav class="navbar">
        <a href="#home"><i class="fa-solid fa-house"></i>Home</a>
        <a href="#vehicles"><i class="fa-solid fa-truck-fast"></i>Vehicles</a>
        <a href="#review"><i class="fa-solid fa-newspaper"></i>Reviews</a>
        <a href="#contact"><i class="fa-solid fa-phone-volume"></i>Contact</a>
    </nav>
    <div id="login-btn">
        <button class="btn">Login</button>
        <i class="far fa-user"></i>
    </div>
    <div id="user-details">
        <div class="name">
            <span>Welcome, John Doe</span>
            <a>Account Details<i class="fa-solid fa-caret-down" id="down"></i></a>
        </div>
        <div class="triangle">
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="dropdown">
            <a href="/templates/profilechange.html"><i class="far fa-user"></i>Profile</a>
            <a href="#"><i class="fa-solid fa-box"></i>Orders</a>
            <a href="/templates/address.html"><i class="fa-regular fa-address-card"></i>Add Addresses</a>
            <a href="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </div> 
    </div>
</header>
<body>
    <div class="login-form">
        <span class="fas fa-times" id="close-login-form"></span>
        <form action="">
            <h3>User Login</h3>
            <input type="email" placeholder="Email" class="box">
            <input type="password" placeholder="Password" class="box">
            <p>Forgot Your Passord ?<a href=""> Click here</a></p>
            <input type="submit" value="Login Now" class="btn">
            <p>Or Login with</p>
            <div class="buttons">
                <a href="#" class="btn">OTP</a>
                <a href="#" class="btn">Google</a>
            </div>
            <p>Don't have an account ?<a href=""> Register here</a></p>
        </form>
    </div>
    <section class="search" id="search">
        <form action="">
            <div class="location">
            <i class="fa-solid fa-location-dot" style="color: #29d629;"></i><input type="text" placeholder="Enter Pickup Location" class="box">
            <i class="fa-solid fa-location-crosshairs" id="currentloc"></i>
            </div>
            <div class="location">
            <i class="fa-solid fa-location-dot" style="color: #f72009;"></i><input type="text" placeholder="Enter Drop Location" class="box">
            <i class="fa-solid fa-location-crosshairs" id="currentloc"></i>
            </div>
        </form>
    </section>
    <section class="home" id="home">
        <h1 class="home-parallax">select on your own</h1>
        <img src="/static/images/1.png" alt="" class="home-parallax">
    </section>
    <section class="icons-container">
        <div class="icons">
            <i class="fa-solid fa-truck-front"></i>
            <div class="content">
                <h3>100+</h3>
                <p>Vehicles</p>
            </div>
        </div>

        <div class="icons">
            <i class="fa-solid fa-person-half-dress"></i>
            <div class="content">
                <h3>100+</h3>
                <p>Drivers Available</p>
            </div>
        </div>

        <div class="icons">
            <i class="fa-solid fa-users-rays"></i>
            <div class="content">
                <h3>100+</h3>
                <p>Happy Customers</p>
            </div>
        </div>

    </section>
    <section class="vehicles" id="vehicles">
        <h1 class="heading">Our <span> Vehicles</span></h1>
        <div class="swiper vehicles-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="/static/images/truck.png" alt="">
                    <div class="content">
                        <h3>Truck</h3>
                        <div class="price">
                            <span>Price : </span>
                            5000</div>
                        <p>
                            <span class="fas fa-circle"></span> New 
                            <span class="fas fa-circle"></span> New 
                            <span class="fas fa-circle"></span> New 
                            <span class="fas fa-circle"></span> New 
                        </p>
                        <a href="#" class="btn">Book Now</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <img src="/static/images/truck.png" alt="">
                        <div class="content">
                            <h3>Truck</h3>
                            <div class="price">
                                <span>Price : </span>
                                5000</div>
                            <p>
                                <span class="fas fa-circle"></span> New 
                                <span class="fas fa-circle"></span> New 
                                <span class="fas fa-circle"></span> New 
                                <span class="fas fa-circle"></span> New 
                            </p>
                            <a href="#" class="btn">Book Now</a>
                            </div>
                        </div>

                        <div class="swiper-slide box">
                            <img src="/static/images/truck.png" alt="">
                            <div class="content">
                                <h3>Truck</h3>
                                <div class="price">
                                    <span>Price : </span>
                                    5000</div>
                                <p>
                                    <span class="fas fa-circle"></span> New 
                                    <span class="fas fa-circle"></span> New 
                                    <span class="fas fa-circle"></span> New 
                                    <span class="fas fa-circle"></span> New 
                                </p>
                                <a href="#" class="btn">Book Now</a>
                                </div>
                            </div>

                            <div class="swiper-slide box">
                                <img src="/static/images/truck.png" alt="">
                                <div class="content">
                                    <h3>Truck</h3>
                                    <div class="price">
                                        <span>Price : </span>
                                        5000</div>
                                    <p>
                                        <span class="fas fa-circle"></span> New 
                                        <span class="fas fa-circle"></span> New 
                                        <span class="fas fa-circle"></span> New 
                                        <span class="fas fa-circle"></span> New 
                                    </p>
                                    <a href="#" class="btn">Book Now</a>
                                    </div>
                                </div>

                                <div class="swiper-slide box">
                                    <img src="/static/images/truck.png" alt="">
                                    <div class="content">
                                        <h3>Truck</h3>
                                        <div class="price">
                                            <span>Price : </span>
                                            5000</div>
                                        <p>
                                            <span class="fas fa-circle"></span> New 
                                            <span class="fas fa-circle"></span> New 
                                            <span class="fas fa-circle"></span> New 
                                            <span class="fas fa-circle"></span> New 
                                        </p>
                                        <a href="#" class="btn">Book Now</a>
                                        </div>
                                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
    </section>
    <section class="reviews" id="review">
        <h1 class="heading">Customer's <span>Reviews</span></h1>
        <div class="swiper reviews-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="/static/images/user.png" alt="">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <h3>John Doe</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/images/user.png" alt="">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <h3>John Doe</h3>
                        <div class="stars">
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/images/user.png" alt="">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <h3>John Doe</h3>
                        <div class="stars">
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/images/user.png" alt="">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <h3>John Doe</h3>
                        <div class="stars">
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/images/user.png" alt="">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <h3>John Doe</h3>
                        <div class="stars">
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                            <i class="class fas fa-star"></i>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="contact" id="contact">
        <h1 class="heading">Contact <span>Us</span></h1>
        <div class="row">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7228008879406!2d80.24602337496856!3d12.98957328732742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6202e54fb9%3A0xcf5fc0aac9108c7e!2sTIDEL%20Park%2C%20Rajiv%20Gandhi%20IT%20Expy%2C%20Tharamani%2C%20Chennai%2C%20Tamil%20Nadu%20600113!5e0!3m2!1sen!2sin!4v1696184866891!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
            <form action="">
                <h3>Get In Touch</h3>
                <input type="text" placeholder="Name" class="box">
                <input type="email" placeholder="Email" class="box">
                <input type="number" placeholder="Number" class="box">
                <textarea placeholder="Message" cols="30" rows="10" class="box"></textarea>
                <input type="submit" value="Send Message" class="btn">
            </form>
        </div>
    </section>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Quick Links</h3>
                <a href="#home"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="#vehicles"><i class="fas fa-arrow-right"></i>Vehicles</a>
                <a href="#review"><i class="fas fa-arrow-right"></i>Reviews</a>
                <a href="#contact"><i class="fas fa-arrow-right"></i>Contact</a>
            </div>
            <div class="box">
                <h3>For Contact</h3>
                <a href="#"><i class="fas fa-phone"></i>+91 99629 4569</a>
                <a href="#"><i class="fas fa-envelope"></i>myporter@gmail.com</a>
                <a href="#"><i class="fas fa-map-marker-alt"></i>Tidel Park, Thiruvanmiyur, Chennai, India</a>
            </div>
            <div class="box">
                <h3>Social Media</h3>
                <a href="#"><i class="fa-brands fa-square-facebook"></i>Facebook</a>
                <a href="#"><i class="fa-brands fa-square-x-twitter"></i>X</a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
                <a href="#"><i class="fa-brands fa-linkedin"></i>Linkedin</a>

            </div>
        </div>
        <h1 class="credit">Created by TEAM JAK</h1>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/static/js/index.js"></script>
</html>